---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import "../../style/tag-index.scss";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <h1>{tag}</h1>
  <main>
    <div>
      <h2>Posts tagged with {tag}</h2>
      <ul>
        {
          posts.map((post) => (
            <BlogPost
              url={`/den/blogs/${post.slug}`}
              title={post.data.title}
              date={post.data.date}
            />
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
