---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";

import pfp from "../assets/images/gideon-graves-scott-pilgrim.gif";
import idle from "../assets/images/no-song-playing.png";
---

<Layout title="Rogue's Den">
  <div class="logo">
    <h1>Rogue's Den</h1>
  </div>

  <div class="terminals">
    <main>
      <div class="title">
        <h2>Welcome to my smol little den</h2>
        <hr />
      </div>
      <div class="row-1">
        <div class="pfp">
          <div class="pfp-border">
            <img src={pfp.src} alt="Profile Picture" />
          </div>
        </div>

        <div class="info">
          <ul>
            <li>Name's Ali, but I prefer to go by Rogue.</li>
            <li>I love linux && the commandline</li>
            <li>I know a little bout programming</li>
          </ul>
        </div>
      </div>

      <div class="row-2">
        <hr />
        Yet another computer science student with small dreams. Hoping that he can
        one day, achieve what he wants. Stuck in a never ending loop of self doubt,
        impostor syndrome, and lots of other negative stuff.
        <br />
        <br />
        Only just recently been taking this stuff seriously(kinda). Learning bit
        by bit, step by step, slowly but surely... he'll get there.
        <br />
        <br />
      </div>
    </main>

    <Status state="Fetching" icon="fa-solid fa-spinner fa-spin-pulse" />

    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-house" style="color: #74d97d"></i>
          <a href="index.html">$HOME</a>
        </li>
        <li>
          <i class="fa-solid fa-question" style="color: #767676"></i>
          <a href="/whoami/">whoami</a>
        </li>
        <li>
          <i class="fa-solid fa-rss" style="color: #e66100"></i>
          <a href="/blogs/">blogs(WIP)</a>
        </li>
        <li>
          <i class="fa-regular fa-images" style="color: #96a33a"></i>
          <a href="/gallery/">gallery(WIP)</a>
        </li>
        <li>
          <i class="fa-brands fa-gitlab" style="color: #e7952d"></i>
          <a href="https://gitlab.com/rogue-87">gitlab</a>
        </li>
        <li>
          <i
            class="fa-brands fa-github"
            style="color: black; background-color: white; border-radius: 16px"
          ></i>
          <a href="https://github.com/rogue-87">github</a>
        </li>
        <li>
          <i class="fa-brands fa-twitter" style="color: #3584e4"></i>
          <a href="https://twitter.com/rogue_cmd">twitter</a>
        </li>
        <li>
          <i class="fa-brands fa-steam" style="color: ##05183c"></i>
          <a href="https://steamcommunity.com/id/rogue1987/">steam</a>
        </li>
      </ul>
    </nav>

    <div class="music-log" id="musicLog">
      <div class="song-info">
        <div>
          <i class="fa-solid fa-music"></i>
          <div class="song">...</div>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
          <div class="artist">...</div>
        </div>
      </div>
      <div class="song-album">
        <a href="#">
          <img src={idle.src} alt="idle" />
        </a>
      </div>
    </div>
  </div>
</Layout>

<style is:global lang="scss">
  @use "../style/abstracts/" as *;

  body {
    color: var(--fg-clr-1);
    background-color: var(--bg-clr-1);
    background-image: url("../assets/images/fog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    image-rendering: pixelated;
  }

  a {
    color: var(--fg-clr-2);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding-left: 1rem;
  }

  .logo {
    text-align: center;
    h1 {
      transition: transform ease-in-out 0.5s;
    }
  }

  .terminals {
    display: grid;
    justify-content: center;
    gap: 16px;

    grid-template-rows: 3.3rem 17.5rem 16rem;
    grid-template-columns: 45rem 12rem;
    grid-template-areas:
      "main status"
      "main nav"
      "main music-log";

    > * {
      padding: 1rem;
      border: 2px solid var(--border-clr-1);
      border-radius: 5px;
      background-color: var(--bg-clr-1);
      position: relative;
      &::before {
        background-color: var(--bg-clr-1);
        border: 2px solid var(--border-clr-1);
        border-radius: 1rem;
        width: fit-content;
        height: fit-content;
        padding: 0 8px;
        position: absolute;
        inset: -0.8rem 10px;
        content: "";
      }
    }

    > *:nth-child(1) {
      padding: 1rem;
      grid-area: main;
      &:before {
        content: "Main";
      }
    }

    > *:nth-child(2) {
      grid-area: status;
      &:before {
        content: "Status";
      }
    }

    > *:nth-child(3) {
      grid-area: nav;
      &:before {
        content: "Navigate";
      }
    }

    > *:nth-child(4) {
      grid-area: music-log;
      &:before {
        content: "Currently Playing";
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title h2 {
      margin: 0;
    }

    .row-1 {
      display: flex;
      gap: 1rem;

      .pfp {
        &-border {
          display: flex;
          border: 1px solid #75d97e;
          img {
            width: 100px;
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        line-height: 1.8rem;
      }
    }

    .row-2 {
      font-size: 1.2rem;
    }
  }

  nav {
    ul {
      padding: 0;
      li {
        list-style: none;
        width: fit-content;

        i {
          text-align: center;
          width: 16px;
          transition: transform 0.3s ease-in-out;
        }

        a {
          line-height: 2rem;
          color: var(--fg-clr-2);
        }
      }
    }
  }

  .music-log {
    .song-info {
      margin-top: 0.5rem;
      overflow-x: hidden;
      text-align: center;
      > div {
        display: flex;
        gap: 8px;
        line-height: 1.5rem;
        align-items: center;
        width: max-content;

        &:nth-child(2) {
          font-size: 0.8rem;
        }

        > i {
          width: 15px;
        }
      }
    }

    .song-album {
      display: flex;
      margin-top: 0.5rem;
      width: 142px;
      height: 142px;
      border: solid 2px gray;
      border-radius: 0.8rem;
      overflow: hidden;
      a {
        img {
          width: 100%;
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-clr-1: #0d1117;
      --fg-clr-1: #c9d1d9;
      --fg-clr-2: #75d97e;
      --border-clr-1: #6e6e6e;
    }
    body {
      background-image: url("../assets/images/moon.png");
    }
  }

  /* phones */

  // smol phones
  @media (20em <= width <= 30em) and (orientation: portrait) {
    .terminals {
      margin: 0.5rem;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "status status"
        "main main"
        "nav nav"
        "music-log music-log";
    }

    .music-log {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .song-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (orientation: landscape) {
  }

  /* tablets */
</style>

<script>
  import idle from "../assets/images/no-song-playing.png";

  const userId = "369982847496355841";
  const socket = new WebSocket("wss://api.lanyard.rest/socket");

  socket.onopen = () => {
    console.log("WebSocket connection opened");
    socket.send(
      JSON.stringify({
        op: 2,
        d: {
          subscribe_to_ids: [userId],
        },
      }),
    );
    setInterval(() => {
      if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ op: 3 }));
      }
    }, 30000);
  };

  socket.onmessage = (event) => {
    const data = JSON.parse(event.data);
    // console.log("Received data:", data);
    if (data.t === "INIT_STATE") {
      // console.log("Event type:", data.t);
      handleInitialState(data);
    } else if (data.t === "PRESENCE_UPDATE") {
      // console.log("Event type:", data.t);
      handlePresenceUpdate(data);
    }
  };

  socket.onerror = (error) => {
    console.error("WebSocket error:", error);
  };

  socket.onclose = (event) => {
    console.log(`WebSocket connection closed: ${event.code} ${event.reason}`);
  };

  function handleInitialState(data: any) {
    const presence = data.d[userId];
    if (presence) {
      // console.log("Presence data:", presence); // Log presence data
      updateStatus(presence);
      updateCurrentSong(presence);
    } else {
      // console.log("Initial presence data not found for user:", userId);
    }
  }

  function handlePresenceUpdate(data: any) {
    const presence = data.d;
    if (presence) {
      // console.log("Presence update data:", presence); // Log presence update data
      updateStatus(presence);
      updateCurrentSong(presence);
    } else {
      // console.log("Presence update data not found for user:", userId);
    }
  }

  function updateStatus(presence: any) {
    // console.log("Updating status:", presence.discord_status);
    let status = presence.discord_status;
    if (status === "online" || status === "idle" || status === "dnd") {
      document.getElementById("status").innerHTML = `
      <span>Online</span>
      <i class="fa-solid fa-circle" style="color: #23a55a;"></i>
    `;
    } else {
      document.getElementById("status").innerHTML = `
      <span>Offline</span>
      <i class="fa-solid fa-circle" style="color: gray;"></i>
    `;
    }
  }

  function updateCurrentSong(presence: any) {
    // console.log("Updating current song:", presence.spotify);
    if (!presence.listening_to_spotify) {
      document.getElementById("musicLog").innerHTML = `
      <div class="song-info">
        <div>
          <i class="fa-solid fa-music"></i>
          <div class="song">...</div>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
          <div class="artist">...</div>
        </div>
      </div>
      <div class="song-album">
        <img src="${idle.src}" alt="no-song" />
      </div>
    `;
    } else {
      let spotify = presence.spotify;
      document.getElementById("musicLog").innerHTML = `
      <div class="song-info">
        <div>
          <i class="fa-solid fa-music"></i>
          <div class="song">${spotify.song}</div>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
          <div class="artist">${spotify.artist}</div>
        </div>
      </div>
      <div class="song-album">
        <a href="https://open.spotify.com/track/${spotify.track_id}">
          <img src="${spotify.album_art_url}" alt="spotify album">
        </a>
      </div>
    `;
    }
  }
</script>
