---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import pfp from "@assets/images/gideon-graves-scott-pilgrim.gif";
import "@style/home.scss";
const baseUrl = import.meta.env.BASE_URL;
---

<Layout title="Rogue's Den">
  <h1 class="logo">Rogue's Den</h1>

  <div class="terminals">
    <main>
      <div class="title">
        <h2>Welcome to my small humble den</h2>
        <hr />
      </div>
      <div class="row-1">
        <div class="pfp">
          <div class="pfp-border">
            <img src={pfp.src} alt="Gideon Graves" width="100" />
          </div>
        </div>

        <div class="info">
          <ul>
            <li>Name's Ali, but I prefer to go by Rogue.</li>
            <li>I love linux && the commandline</li>
            <li>I know a little bout programming</li>
          </ul>
        </div>
      </div>

      <div class="row-2">
        <hr />
        Yet another computer science student with small dreams. Hoping that he can one day, achieve what he wants. Stuck
        in a never ending loop of self doubt, impostor syndrome, and lots of other negative stuff.
        <br />
        <br />
        Only just recently been taking this stuff seriously(kinda). Learning bit by bit, step by step, slowly but surely...
        he'll get there.
        <br />
        <br />
      </div>
    </main>

    <div class="status" id="status">
      <span id="statusName">Fetching</span>
      <i id="statusIcon" class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>

    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-house" style="color: #74d97d"></i>
          <a href={`${baseUrl}#`}>$HOME</a>
        </li>
        <li>
          <i class="fa-solid fa-question" style="color: #767676"></i>
          <a href={`${baseUrl}about`}>whoami</a>
        </li>
        <li>
          <i class="fa-solid fa-rss" style="color: #e66100"></i>
          <a href={`${baseUrl}blogs`}>blogs</a>
        </li>
        <li>
          <i class="fa-solid fa-cubes" style="color: #5e5c64;"></i>
          <a href={`${baseUrl}projects`}>projects(WIP)</a>
        </li>
        <li>
          <i class="fa-regular fa-images" style="color: #96a33a"></i>
          <a href={`${baseUrl}gallery`}>gallery(WIP)</a>
        </li>
        <li>
          <i class="fa-brands fa-gitlab" style="color: #e7952d"></i>
          <a href="https://gitlab.com/rogue-87">gitlab</a>
        </li>
        <li>
          <i class="fa-brands fa-github" style="color: black; background-color: white; border-radius: 16px"></i>
          <a href="https://github.com/rogue-87">github</a>
        </li>
        <li>
          <i class="fa-brands fa-twitter" style="color: #3584e4"></i>
          <a href="https://twitter.com/rogue_cmd">twitter</a>
        </li>
        <li>
          <i class="fa-brands fa-steam"></i>
          <a href="https://steamcommunity.com/id/rogue1987/">steam</a>
        </li>
      </ul>
    </nav>

    <div class="music-log" id="musicLog">
      <div class="song-info">
        <div id="songContainer">
          <i class="fa-solid fa-music"></i>
          <div class="song" id="song">...</div>
        </div>
        <div id="artistContainer">
          <i class="fa-solid fa-user"></i>
          <div class="artist" id="artist">...</div>
        </div>
      </div>
      <div class="song-album">
        <div class="album-cover" id="albumCover">
          <a href="#" id="songLink"> </a>
        </div>
      </div>
    </div>
  </div>

  <Footer />
</Layout>

<script>
  import idle from "@assets/images/nothing.png";
  const userId = "369982847496355841";
  const socket = new WebSocket("wss://api.lanyard.rest/socket");

  interface Spotify {
    track_id: string;
    timestamps: {
      start: number;
      end: number;
    };
    song: string;
    artist: string;
    album_art_url: string;
    album: string;
  }

  interface DiscordUser {
    id: string;
    username: string;
    avatar: string;
    global_name: string;
    display_name: string;
  }

  interface Presence {
    kv: object;
    spotify: Spotify | null;
    discord_user: DiscordUser;
    activities: Array<object>;
    discord_status: "online" | "idle" | "dnd" | "offline";
    active_on_discord_web: boolean;
    active_on_discord_desktop: boolean;
    active_on_discord_mobile: boolean;
    listening_to_spotify: boolean;
  }

  type OpCode = 0 | 1 | 2 | 3;
  type EventType = "INIT_STATE" | "PRESENCE_UPDATE";
  interface Data {
    op: OpCode;
    seq: 1 | 2;
    t: EventType;
    d: { [userId]: Presence } | Presence;
  }

  function isUserPresence(d: { [userId]: Presence } | Presence): d is Presence {
    return (d as Presence) !== undefined;
  }

  function isUserPresenceList(d: { [userId]: Presence } | Presence): d is { [userId]: Presence } {
    return (d as { [userId]: Presence })[userId] !== undefined;
  }

  socket.onopen = () => {
    // console.log("WebSocket connection opened");
    socket.send(
      JSON.stringify({
        op: 2,
        d: {
          subscribe_to_ids: [userId],
        },
      }),
    );
    setInterval(() => {
      if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ op: 3 }));
      }
    }, 30000);
  };

  socket.onmessage = (event) => {
    const data: Data = JSON.parse(event.data);
    if (data.t === "INIT_STATE") {
      handleInitialState(data);
    } else if (data.t === "PRESENCE_UPDATE") {
      handlePresenceUpdate(data);
    }
  };

  socket.onerror = (error) => {
    console.error("WebSocket error:", error);
  };

  socket.onclose = (event) => {
    console.log(`WebSocket connection closed: ${event.code} ${event.reason}`);
  };

  function handleInitialState(data: Data): void {
    if (isUserPresenceList(data.d)) {
      const presence: Presence = data.d[userId];
      updateStatus(presence);
      updateCurrentSong(presence);
      marqueeText("songContainer", "song");
      marqueeText("artistContainer", "artist");
    } else throw Error("Could not initialize presence");
  }

  function handlePresenceUpdate(data: Data): void {
    if (isUserPresence(data.d)) {
      const presence: Presence = data.d;
      updateStatus(presence);
      updateCurrentSong(presence);
      marqueeText("songContainer", "song");
      marqueeText("artistContainer", "artist");
    } else throw Error("Could not update presence");
  }

  function updateStatus(presence: Presence): void {
    let status = presence.discord_status;
    if (status === "online" || status === "idle" || status === "dnd") {
      document.getElementById("statusName")!.innerText = "online";
      document.getElementById("statusIcon")!.className = "fa-solid fa-circle";
      document.getElementById("statusIcon")!.style.color = "#23a55a";
    } else {
      document.getElementById("statusName")!.innerText = "offline";
      document.getElementById("statusIcon")!.className = "fa-solid fa-circle";
      document.getElementById("statusIcon")!.style.color = "gray";
    }
  }

  function updateCurrentSong(presence: Presence): void {
    if (presence.listening_to_spotify && presence.spotify) {
      let spotify = presence.spotify;
      document.getElementById("song")!.innerText = spotify.song;

      document.getElementById("artist")!.innerText = spotify.artist.replaceAll(";", ",");

      document.getElementById("songLink")!.setAttribute("href", `https://open.spotify.com/track/${spotify.track_id}`);

      document.getElementById("albumCover")!.style.backgroundImage = `url(${spotify.album_art_url})`;
    } else {
      document.getElementById("song")!.innerText = "...";
      document.getElementById("artist")!.innerText = "...";
      document.getElementById("songLink")!.setAttribute("href", "#");

      document.getElementById("albumCover")!.style.backgroundImage = `url(${idle.src})`;
    }
  }

  function marqueeText(containerElementId: string, elementId: string): void {
    const container = document.getElementById(containerElementId);
    const element = document.getElementById(elementId);

    if (element!.innerText.includes("...")) {
      container!.classList.remove("marquee");
    } else {
      container!.classList.add("marquee");
    }
  }
</script>
