---
import { getCollection, getEntry } from "astro:content";
import gideon from "@assets/images/gideon-graves-scott-pilgrim.png";
import favicon from "@assets/icons/quote.png";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { formatDate } from "../../scripts/utils.js";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
const author = await getEntry(entry.data.author);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Important Stuff -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Search Engine Stuff -->
    <meta property="author" content={author.data.alias} />
    <meta property="description" content={entry.data.desc} />
    <!-- Open Graph Stuff -->
    <meta name="keywords" content={entry.data.tags.toString()} />
    <meta property="og:title" content={entry.data.title} />
    <meta property="og:description" content={entry.data.desc} />
    <meta property="og:image" content={gideon.src} />
    <meta property="og:url" content={"https://rogue-87.github.io/den/"} />
    <!-- Browser Tab Stuff -->
    <link rel="icon" type="image/png" href={favicon.src} />
    <title>{entry.data.title}</title>
  </head>
  <body>
    <!-- <div class="wrapper"> -->
    <Header />
    <!-- </div> -->
    <h1>{entry.data.title}</h1>
    <main>
      <div class="md-content">
        <div class="md-content-padding">
          <div class="tags">
            {
              entry.data.tags.map((tag) => (
                <p class="tag">
                  <a href={`/den/tags/${tag}`}>{tag}</a>
                </p>
              ))
            }
          </div>
          <h2>
            <i class="fa-solid fa-feather"></i> Written by {
              author.data.alias || author.data.name
            }.
          </h2>
          <h2>
            <i class="fa-solid fa-calendar-days"></i> Posted on {
              formatDate(entry.data.date)
            }.
          </h2>
          <hr />
          <Content />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @use "../../style/abstracts/" as *;

  h1 {
    text-align: center;
    margin-top: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .md-content {
    width: 75%;
    border: 2px solid var(--border-clr-1);
    border-radius: 5px;
    background-color: var(--bg-clr-1);

    > #{&}-padding {
      padding: 16px;
    }

    i {
      text-align: center;
      width: 2rem;
    }

    h2 {
      margin: 0;
    }

    & :global(pre) {
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;
      border-radius: 5px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-bottom: 1rem;
    }

    .tag {
      margin: 0.25em;
      border: solid 2px var(--border-clr-1);
      border-radius: 0.5em;
      background-color: var(--bg-clr-2);
      padding: 0.5em 1em;
      font-size: 1.15em;
    }
  }

  @media (20em <= width <= 30em) and (orientation: portrait) {
    .md-content {
      width: 92%;

      & :global(pre) {
        text-wrap: wrap;
        font-size: 0.8rem;
      }
    }
  }
</style>
