---
import { getCollection, getEntry } from "astro:content";
import favicon from "../../assets/icons/quote.png";
import { formatDate } from "../../scripts/utils.js";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
const author = await getEntry(entry.data.author);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{entry.data.title}</title>
  </head>
  <body class="md-post">
    <h1>{entry.data.title}</h1>
    <div class="md-content">
      <div class="tags">
        {
          entry.data.tags.map((tag) => (
            <p class="tag">
              <a href={`/den/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
      <h2>
        <i class="fa-solid fa-feather"></i> Written by {
          author.data.alias || author.data.name
        }.
      </h2>
      <h2>
        <i class="fa-solid fa-calendar-days"></i> Posted on {
          formatDate(entry.data.date)
        }.
      </h2>
      <hr />
      <Content />
    </div>
  </body>
</html>

<style lang="scss">
  @use "../../style/abstracts/" as *;

  h1 {
    text-align: center;
  }

  .md-post {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      text-align: center;
      width: 2rem;
    }
  }

  .md-content {
    margin-bottom: 2.5rem;
    padding: 1rem;
    width: 75%;
    border: 2px solid var(--border-clr-1);
    border-radius: 5px;
    background-color: var(--bg-clr-1);

    h2 {
      margin: 0;
    }

    & :global(pre) {
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;
      border-radius: 5px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-bottom: 1rem;
    }

    .tag {
      margin: 0.25em;
      border: solid 2px var(--border-clr-1);
      border-radius: 0.5em;
      background-color: var(--bg-clr-2);
      padding: 0.5em 1em;
      font-size: 1.15em;
    }
  }

  @media (20em <= width <= 30em) and (orientation: portrait) {
    .md-content {
      width: 87dvw;

      & :global(pre) {
        text-wrap: wrap;
        font-size: 0.8rem;
      }
    }
  }
</style>
