---
interface Props {
  title: string;
  desc?: string;
  author?: string;
  keywords?: Array<string>;
  url?: string;
  ogImage?: string;
  isHome?: boolean;
}

import favicon from "../assets/icons/quote.png";
import gideon from "../assets/images/gideon-graves-scott-pilgrim.png";
const siteUrl = import.meta.env.SITE;
const baseUrl = import.meta.env.BASE_URL;

const {
  title = "Rogue's Den",
  desc = "my small little den",
  author = "Rogue87",
  keywords = ["web development", "javascript", "astrojs", "linux"],
  url = `${siteUrl}${baseUrl}`,
  isHome = false,
  ogImage = gideon.src,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- RSS Stuff HOMEPAGE ONLY -->
    {isHome && <link rel="alternate" type="application/rss+xml" title="Rogue's Den" href={new URL("rss.xml", Astro.site)} />}
    <!-- Important Stuff -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Search Engine Stuff -->
    <meta property="author" content={author} />
    <meta property="description" content={desc} />
    <!-- Open Graph Stuff -->
    <meta name="keywords" content={keywords.toString()} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:site_name" content={author} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={url} />
    <!-- Browser Tab Stuff -->
    <link rel="icon" type="image/png" href={favicon.src} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
